<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <title>People Search Engine</title>
    <link rel="stylesheet" href="../dist/css/style.css">
</head>

<body ng-app="peopleList">
	<h1>Welcome to the People Directory</h1>
	<!-- search box -->
	<div id="search-box"  ng-controller="searchCtrl">
		<input title="Name of person to be searched in people directory" name="PeopleSearchBox" ng-model="searchQuery" id='search-text' placeholder='PeopleSearch - Type name to search here' type='text'/>
	</div>
	<!-- search box -->
	
	<!-- people list with face icons -->
	<div  ng-controller="PeopleListCtrl">
		<ul id='list'>
		<li id='item' ng-repeat="user in filteredPeople">
			<img src="../avtaars/{{user.icon}}"></img>
			<label id="listName" for="personName">{{user.name}}</label>
		</li>
		</ul>
	</div>
	<!-- people list with face icons -->

	<!-- eliminate render blocking javascript -->
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="../src/js/data.js"></script>
	<script src="../src/js/app.js"></script>
	<!-- eliminate render blocking javascript -->
</body>